@page "/puzzles"
@inject PuzzleRepository PuzzleRepo;
@inject FenParser FenParser;

<div class="puzzle">
    <div class="puzzle__info-panel">
        <h1>Mat w 1 posunięciu.</h1>
        <h2>@subCategory</h2>
        <h3>Zadanie @(currentIndex + 1) / @puzzles.Length</h3>
    </div>
    <div class="puzzle__board">
        <ChessGame PiecesPositions="@piecesPositions" ColorToMove="@colorToMove"/>
    </div>
</div>

@code {
    private string subCategory = "";
    private Puzzle[] puzzles;
    private int currentIndex = 0;
    private Puzzle CurrentPuzzle => puzzles[currentIndex];
    private IEnumerable<PiecePosition> piecesPositions = Enumerable.Empty<PiecePosition>();
    private Color colorToMove = Color.White;
    
    protected override void OnInitialized()
    {
        subCategory = PuzzleRepo.SubCategories.FirstOrDefault();
        puzzles = PuzzleRepo.GetPuzzlesForSubCategory(subCategory).ToArray();
        piecesPositions = FenParser.GetPiecesPositions(CurrentPuzzle.Fen);
        colorToMove = FenParser.GetColorToMove(CurrentPuzzle.Fen);
    }
}
